In [2]:
#create a set
sets = {1,2,3,4,5,5,6,7,8,8,9}  #no duplicates
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
#print empty set

empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [11]:
empty_set = set((1,2,3,4)) #typecast tuple to set
print(empty_set)
print(type(empty_set))

{1, 2, 3, 4}
<class 'set'>

In [12]:
empty_set = tuple({1,2,3,4}) #tyecast set to tuple
print(empty_set)
print(type(empty_set))

(1, 2, 3, 4)
<class 'tuple'>

In [18]:
##basic set operation
sets = {1,2,3,4,5,5,6,7,8,8,9}  #no duplicates
print(sets)
#adding elemt
sets.add(123)
print(sets)
#removing elemt
sets.remove(123)
print(sets)
#removing elemt
sets.remove(3)  #can remove any index
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 123}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:
#removing elemt
sets.remove(13)  #13 not present, will give an error
print(sets)

KeyError: 13

In [22]:
#removing elemt
sets.discard(13)  #13 not present, but discard will not give an error 
                    #if the 13 is not present , will simply print the set
print(sets)

{1, 2, 4, 5, 6, 7, 8, 9}

In [24]:
##pop method
remove_element = sets.pop()  #FIFO first in first out
print(remove_element)
print(sets)

2
{4, 5, 6, 7, 8, 9}

In [26]:
#clear all elemnts
sets.clear()
print(sets)

set()

In [30]:
#set membership test

my_set = {1,2,3,4,5,6,7,8,9,10}
print(3 in my_set)  # true if present
print(123 in my_set)  # false if not present

True
False

In [38]:
#mathematical operation 
#union
set1 = {1,2,5, 7, 4,3,4,5,11}
set2 = {6,7,8,1, 2, 3,9,10,11}

ans = set1.union(set2)
print(ans)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [39]:
#intersection
ans = set1.intersection(set2)
print(ans)

{1, 2, 3, 7, 11}

In [41]:
#intersection update: set = intersected set
set1.intersection_update(set2)
print(set1)
print(set2)

{1, 2, 3, 7, 11}
{1, 2, 3, 6, 7, 8, 9, 10, 11}

In [67]:
#difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9,10,11}

print(set1.difference(set2))

{1, 2, 3}

In [68]:
set2.difference(set1)

{7, 8, 9, 10, 11}

In [69]:
set1

{1, 2, 3, 4, 5, 6}

In [65]:
set1.difference_update(set2) #update set values
print(set1)

{1, 2, 3}

In [ ]:
#symmetric difference : print other than common elements
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9, 10, 11}

In [74]:
sat1 = {1,2,3}
sat2 = {2,3,4,6,1}

#is subset
print(sat1.issubset(sat2))

#is superset
print(sat1.issuperset(sat2))

True
False

In [77]:
lst = [1,2,3,4,4,5,5,6,7,8,8,9]
print(lst)

lst = set(lst)
print(lst)

[1, 2, 3, 4, 4, 5, 5, 6, 7, 8, 8, 9]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
### Counting unique words in a text

text = "I'm learning about sets in python in my office at lunch time when people rae out"
words = text.split()

#convert list of words to get set of unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{"I'm", 'office', 'about', 'people', 'python', 'rae', 'at', 'sets', 'learning', 'in', 'when', 'my', 'lunch', 'out', 'time'}
15