In [5]:
lst = list()
print(list)

tupl = tuple()
print(tuple)

<class 'list'>
<class 'tuple'>

In [ ]:
lst = [1,2,"Ansh", 0.4, True]  #square brackets for list
print(lst)

tup = (1,2,"singh", 6.4, False) #simple brackets for tuple
print(tup)

[1, 2, 'Ansh', 0.4, True]
(1, 2, 'singh', 6.4, False)

In [17]:
#cnversion 

list1 = [1,2,"Ansh", 0.4, True]
print(list1, type(list1))
tuple1 = tuple(list1) #conersion from list to tuple
print(tuple1, type(tuple1))

tuple2 = tuple([1,"ansh",0.4]) # direct conversion from list to tuple
print(tuple2, type(tuple2))

tuple2 = list((1,"ansh",0.4)) # direct conversion from tuple to list
print(tuple2, type(tuple2))

[1, 2, 'Ansh', 0.4, True] <class 'list'>
(1, 2, 'Ansh', 0.4, True) <class 'tuple'>
(1, 'ansh', 0.4) <class 'tuple'>
[1, 'ansh', 0.4] <class 'list'>

In [18]:
#accessing tuple element

numbers = (1,2,3,4,5,6)
numbers

(1, 2, 3, 4, 5, 6)

In [19]:
numbers[0]

1

In [20]:
numbers[2:4]

(3, 4)

In [26]:
print(numbers[0:3]) #print one eleemnt before he last index 
print(numbers[3:6])
print(numbers[3:5])
print(numbers[::-1]) #reverse

(1, 2, 3)
(4, 5, 6)
(4, 5)
(6, 5, 4, 3, 2, 1)

In [29]:
##tuple operations

concatenate_tuple= numbers + tuple1
print(concatenate_tuple)

(1, 2, 3, 4, 5, 6, 1, 2, 'Ansh', 0.4, True)

In [32]:
tuple1 * 3 # print 3 times

(1, 2, 'Ansh', 0.4, True, 1, 2, 'Ansh', 0.4, True, 1, 2, 'Ansh', 0.4, True)

In [33]:
numbers*3 # print 3 times

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [36]:
## immutable nature of tuples: 

lst = [1,2,3,4]
print(lst)

lst[2] = "ansh"
print(lst)

[1, 2, 3, 4]
[1, 2, 'ansh', 4]

In [38]:
tup = (1,2,3,4)
print(tup)

tup[2] = "ansh"  # values can't be changed 
print(tup)

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [40]:
#tuple methods 
print(numbers.count(1)) #count the occurence of 1
print(numbers.index(2)) #return the index of 2

1
1

In [ ]:
#packing an dunpacking tuple

pack = 1,"ansh", 3.4  #packing tuple
pack2 = (1,"anshul", 5.6)
print(pack)
print(pack2)

(1, 'ansh', 3.4)
(1, 'anshul', 5.6)

In [50]:
a,b,c = pack    #unpacking, defining three elements 
                #to assign each value of tuple to unpack
#print(a,b,c)
print(a)
print(b)
print(c)

1
ansh
3.4

In [52]:
a,b,c = pack2    

print(a)
print(b)
print(c)

1
anshul
5.6

In [53]:
numbers = (1,2,3,4,5,6,7,8,9,10)
first,*middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [55]:
numbers = (1,2,3,4,5,6,7,8,9,10)
first,*middle = numbers
print(first)
print(middle)
#print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
numbers = (1,2,3,4,5,6,7,8,9,10)
first,*middle, last1, last2 = numbers
print(first)
print(middle)
print(last1)
print(last2)

1
[2, 3, 4, 5, 6, 7, 8]
9
10

In [58]:
numbers = (1,2,3,4,5,6,7,8,9,10)
*middle, last1, last2 = numbers
# print(first)
print(middle)
print(last1)
print(last2)

[1, 2, 3, 4, 5, 6, 7, 8]
9
10

In [62]:
numbers = (1,2,3,4,5,6,7,8,9,10)
*middle = numbers

print(middle) 

'''The * must be used in unpacking along with other variables, like:
a, *b = [1,2,3]
or
*a, b = [1,2,3]'''

SyntaxError: starred assignment target must be in a list or tuple (1582494950.py, line 2)

In [67]:
#nested tuple:
#nested list:
lst = [[1,2,3],[2,3,4],[1,"ansh",4.5,6]]
print(lst[0])
print(lst[1])
print(lst[2])

[1, 2, 3]
[2, 3, 4]
[1, 'ansh', 4.5, 6]

In [74]:
nested_tuple = ((1,2,3,4,7,8,9,10),("a",'b','c'),(True, False))
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])
print(nested_tuple[0][2:6]) #print from 3 to 8

(1, 2, 3, 4, 7, 8, 9, 10)
('a', 'b', 'c')
(True, False)
(3, 4, 7, 8)

In [78]:
#iterating tuple elements

for i in nested_tuple:
    for j in i:
        print(j, " ")

print("::::with end::: ")
for i in nested_tuple:
    for j in i:
        print(j,end= " ")

1
2
3
4
7
8
9
10
a
b
c
True
False
::::with end:::
1 2 3 4 7 8 9 10 a b c True False